# Compiled artifacts
*.class
*.pyc
*.swp
target/
dependency-reduced-pom.xml

# IDE cruft
.idea
*.iml
.classpath
.project
.pydevproject

# Emacs cruft
*\~

# Mac cruft
.DS_Store

# training data we don't include in the repo
training/data/naacl2012*
training/data/*

# log
training/data/log

# experiments and models
experiments/*
*.txt
*.err
*.out
*.log
training/cv*.sh
scripts/scoring/cv*.sh

# experimental artifacts
models/
