# Compiled artifacts
*.class
*.pyc
/target
/dependency-reduced-pom.xml

# IDE cruft
.idea
*.iml
.classpath
.project
.pydevproject

# Emacs cruft
*\~

# Mac cruft
.DS_Store

# training data we don't include in the repo
/training/data/naacl2012
/training/data/framenet15

# experimental artifacts
/models
/experiments
